.msg {
  font-size: 14px;
  font-family: menlo, monospace, sans-serif;
  margin: 10px 0;
}

.msg__timestamp {
  display: inline-block;
  margin-right: 1.2em;
  font-size: 0.8em;
  color: lightgrey;
}

.msg__text {
  font-size: 1em;
  color: #333;
}
